.tasks {
    padding-top: var(--tg-padding-top);
    padding-inline: 16px;
    background-color: black;
    height: 100vh;
    max-height: 100vh;
    padding-bottom: 100px;
}

.title {
    max-width: 600px;
    margin: 0 auto;
    font-size: 18px;
    color: goldenrod;
    font-weight: 700;
    font-style: italic;
}

.tasklist {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.soon {
    max-width: 600px;
    margin: 0 auto;
    background-color: #121212;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-top: 20px;
    flex-direction: column;

    .title {
        text-transform: none;
    }
}

.text {
    color: rgba(255, 255, 255, 0.589);
    margin-top: 6px;
}

.skeletonList {
    @extend .tasklist;
    display: flex;
    flex-direction: column;
    gap: 6px;

    div {
        width: 100%;
        height: 50px;
        background-color: var(--bg-panel-color);
        border-radius: 12px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 0.1px;
            height: 100px;
            animation: loading 1s infinite;
            box-shadow: 0 0 30px 10px rgba(126, 126, 126, 0.1);
            rotate: 20deg;
        }
    }
}
@keyframes loading {
    0% {
        left: -20%;
    }
    100% {
        left: 120%;
    }
}
